<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/public/images/akatsuki.png">
    <link rel="stylesheet" href="/home.css">  
    <link rel="stylesheet" href="/path-to-your-highlight-js-styles/default.min.css">
<!-- <script src="/path-to-your-highlight-js/highlight.min.js"></script> -->
<script>hljs.highlightAll();</script>  
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            
        }

        .hero_area {
            text-align: center;
            padding: 20px;
        }
        a{
            text-decoration: none;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
            margin: 20px;
        }

        .card {
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s;
            padding: 20px;
            text-align: center;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card-title {
            font-size: 1.25rem;
            color: #333;
            margin-bottom: 10px;
        }

        .card-text {
            color: #555;
        }

        
    </style>
</head>

<body>
    <div class="hero_area">
        
        <br><br>
        <h1>Happy coding and learning scripting</h1>
        <br>

        <div class="grid-container">
            <a href="/1" class="card-link">
                <div class="card">
                    <h5 class="card-title">Project skeleton</h5>
                    <p class="card-text">Initial setup</p>
                </div>
            </a>

            <a href="/2" class="card-link">
                <div class="card">
                    <h5 class="card-title">Project physique</h5>
                    <p class="card-text">rendering data from backend</p>
                    
                </div>
            </a>

            <a href="/3" class="card-link">
                <div class="card">
                    <h5 class="card-title">Project toning</h5>
                    <p class="card-text">proper frontend structure</p>
                    
                </div>
            </a>
        </div>


      
    </div>
</body>
</html>
